@import url('../css/base/button.css');
@import url('../css/base/text-box.css');
@import url('../css/base/section.css');
@import url('../css/base/combobox.css');
@import url('../css/base/dropdown.css');
@import url('../css/base/table.css');

body{
    font-family: MISAGoogleSans;
    font-size: 13px;
    margin: 0;
}

@font-face {
    font-family: MISAGoogleSans;
    src: url('../content/font/GoogleSans-Regular.otf');
}

@font-face {
    font-family: MISAGoogleSans-Bold;
    src: url('../content/font/GoogleSans-Bold.otf');
}

@font-face {
    font-family: MISAGoogleSans-Italic;
    src: url('../content/font/GoogleSans-Italic.otf');
}
.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.text-align-left{
    text-align: left;
}